body {
  text-align: center;
}

.dark {
  color: rgb(100, 200, 255);
  background-color: rgb(30, 30, 30);
}

button {
  color: rgb(100, 200, 255);
  background-color: rgba(60, 60, 60);
  border-color: rgb(100, 200, 255);
  border-width: 4px;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

button:disabled,
button[disabled],
button[disabled="disabled"] {
  border-color: rgb(30, 60, 75);
}

fieldset {
  border-radius: 15px;
  margin: 10px;
}
