body {
  text-align: center;
}

.dark {
  color: rgb(100, 200, 255);
  background-color: rgb(30, 30, 30);
}

button {
  color: rgb(100, 200, 255);
  background-color: rgba(60, 60, 60);
  border-color: rgb(100, 200, 255);
  border-width: 4px;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

button:disabled,
button[disabled],
button[disabled="disabled"] {
  border-color: rgb(30, 60, 75);
}

fieldset {
  border-radius: 15px;
  margin: 10px;
}

.toggleBlock {
  border-style: solid;
  border-width: 1px;
  border-color: var(--text-color);
  border-radius: 4px 4px 0 0;
  padding: 3px;
  margin: 4px;
}

.toggleShow,
.toggleHide {
  cursor: pointer;
  font-weight: bold;
  align-content: flex-end;
  text-align: left;
}

.toggleShow {
}

.toggleShow::before {
  content: '▼ ';
}

.toggleShow + div {
  display: block;
}

.toggleHide {
}

.toggleHide::before {
  content: '▶ ';
}

.toggleHide + div {
  display: none;
}

#preview {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
#preview img {
  width: 256px;
  height: 512px;
  border-radius: 10px;
}
